body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.form-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#barGraph {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}

.bar {
    flex: 2;
    margin-right: 2px;
    position: relative;
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

.bar-height {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    height: 250px; /* Adjust this height as needed */
    border: 2px solid #ccc;
    overflow: hidden;
    position: relative;
}

.bar-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.bar.clicked {
    animation: bounce 0.5s;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}